body {
    font-family: "Lato", serif;
}
.swiper {
    width: 100%;
    padding: 10px 0;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

#carousel-wrapper {
    touch-action: pan-x; /* Swipe hanya horizontal */
    user-select: none; /* Hindari teks terblokir */
    cursor: grab;
}

#carousel-wrapper.active {
    cursor: grabbing;
}

/* START HOME PAGE */
.parallax-1 {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('/images/home/home-parallax-coffee-1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-2 {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('/images/home/home-parallax-coffee-2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about-us-section {
    background-image: url('/images/home/about-us.png');
    background-size: cover;
}

.contact-us-section {
    background-image: url('/images/home/background-kritik.png');
    background-size: cover;
}
/* END HOME PAGE */


/* START ABOUT US PAGE */
.hero-about-us {
    background-image: url('/images/about-us/background-about-us.png');
    background-size: cover;
}
